@{
    ViewBag.Title = "Главная страница";
}

<div class="jumbotron">
    <h1>Мышелов</h1>
    <p class="lead">Система учета отлова грызунов</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Исследования</h2>
        <p>
            Данная система нужна для учета отлова грызунов в Томской области. Эта информация используется для анализа заболеваний, переносимых грызунами
        </p>
    </div>
    <div class="col-md-4">
        <h2>Изучение</h2>
        <p>Информация является общедоступной и может использоваться Вами для проведения собственных исследований, анализа и выявления корелляций</p>
    </div>
    <div class="col-md-4">
        <h2>Свяжитесь с нами</h2>
        <p>Есть предложения по улучшению работы? Свяжитесь с нами по адресу электронной почты:</p><a>ufs@70.rospotrebnadzor.ru</a>
    </div>
</div>